.venv/
venv/

# Bytecode / cache
__pycache__/
*.py[cod]
*$py.class

# Pytest coverage
.pytest_cache/
.coverage.*
.coverage
htmlcov/
htmlcov/


.ruff_cache/
.mypy_cache/


*.log
logs/


.vscode/
.idea/


.env
.env.local
.env.*.local
